$text-light-color: #8da4f1;
$text-white-color: #ddddf7;
$text-dark-color: #5d5b8d;
$text-gray-color: rgb(175,175,175);
$background-color: #7b96ec;
$button-color: #7b96ec;
$dark-background-color: #3e3c61;
$darker-background-color: #2f2d52;

.formContainer{
    background-color: $background-color;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background-color: white;
        padding: 40px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.108));

        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input{
                padding: 15px;
                border: none;
                width: 250px;
                border-bottom: 1px solid $text-gray-color;
                &::placeholder{
                    color: rgb(175, 175, 175);
                }
            }

            button{
                background-color: $button-color;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }

            label{
                display: flex;
                align-items: center;
                gap: 10px;
                color: $text-light-color;
                font-size: 12px;
                cursor: pointer;

                img{
                    width: 32px;
                }
            }
        }

        p{
            color: $text-dark-color;
            font-size: 12px;
            margin-top: 10px;
        }

        .logo{
            color: $text-dark-color;
            font-weight: bold;
            font-size: 24px;
        }

        .title{
            color: $text-dark-color;
            font-size: 12px;
        }
    }
}

.home{
    background-color: $background-color;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        border-radius: 10px;
        width: 65%;
        height: 80%;

        display: flex;
        overflow: hidden;

        .sidebar{
            flex:1;
            background-color: $dark-background-color;

            .navbar{
                display: flex;
                align-items: center;
                background-color: $darker-background-color;

                height: 50px;
                padding: 10px;
                justify-content: space-between;

                color: $text-white-color;

                .logo{
                    font-weight: bold;
                    font-size: 24px;
                }

                .user{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img{
                        background-color: #8da4f1;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    button{
                        background-color: $dark-background-color;
                        color: $text-white-color;
                        font-size: 10px;
                        padding: 10px;
                        font-weight: bold;
                        border: none;
                        cursor: pointer;
                    }
                }
            }

            .search{
                border-bottom: 1px solid gray;

                .searchForm{
                    padding: 10px;
                    input{
                        background-color: transparent;
                        border: none;
                        color: white;
                        outline: none;

                        &::placeholder{
                            color: lightgray;
                        }
                    }
                }
            }

            .userChat{
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                
                cursor: pointer;
                color: white;

                &:hover{
                    background-color: $darker-background-color;
                }

                img{
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .userChatInfo{
                    span{
                        font-size: 18px;
                        font-weight: 500;
                    }
                    p{
                        font-size: 14px;
                        color: lightgray;
                    }
                }
            }
        }

        .chat{
            flex:2;

            .chatInfo{
                height: 50px;
                padding: 10px;
                background-color: $text-dark-color;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: lightgray;
            }

            .chatIcons{
                display: flex;
                gap: 10px;
                img{
                    height: 24px;
                    width: 24px;
                    cursor: pointer;
                }
            }

            .messages{
                background-color: $text-white-color;
                padding: 10px;
                height: calc(100% - 160px);
                overflow: scroll;
                overflow-x: hidden;

                .message{
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;

                    .messageInfo{
                        display: flex;
                        flex-direction: column;
                        color: gray;
                        font-weight: 300;
                        font-size: 12px;

                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                    .messageContent{
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p{
                            background-color: white;
                            padding: 10px;
                            border-radius: 0px 10px 10px 10px;
                            max-width: max-content;
                        }

                        img{
                            width: 50%;
                        }
                    }

                    &.owner{
                        flex-direction: row-reverse;

                        .messageContent{
                            align-items: flex-end;
                            p{
                                background-color: $background-color;
                                color: $text-white-color;
                                border-radius: 10px 0px 10px 10px;
                            }
                        }
                    }
                }
            }

            .input{
                height: 50px;
                padding: 10px;
                background-color: white;

                display: flex;
                justify-content: space-between;

                input{
                    border: none;
                    outline: none;
                    color: $text-dark-color;
                    font-size: 18px;
                    width: 100%;

                    &::placeholder{
                        color: lightgrey;
                    }
                }

                .send{
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    img{
                        height: 24px;
                        width: 24px;
                        cursor: pointer;
                    }

                    button{
                        background-color: $button-color;
                        color: $text-white-color;
                        font-size: 12px;
                        padding: 10px;
                        font-weight: bold;
                        border: none;
                        cursor: pointer;
                        border-radius: 10%;
                    }
                }
            }
        }
    }
}
